<div id="about" class="md:p-16 py-12 md:px-10 p-8 bg-dark text-slate-200">
  <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold text-center pb-16">
    About me
  </h2>
  <div class="flex justify-center items-center">
    <div class="text-slate-200 w-full sm:max-w-md md:max-w-lg pb-16">
      <p class="pb-10">
        I am a Software Engineer based in Mumbai. I love to build things from
        the scratch using new technologies. I am proficient in Java, Javascript
        and Golang. I have good knowledge of DSA and competitive programming. I
        keep my skills sharp and up to date by staying updated with industry
        trends and working on personal projects
      </p>
      <p class="pb-10">
        I completed my Bachelors in Computer Science in 2024 from Terna
        Engineering college, Nerul. I have massive interest in blockchain and
        AI.
      </p>
      <p class="pb-5">Technologies that I use</p>
      <div class="flex pb-10">
        <ul class="mr-10">
          <li class="hover:text-orange">» React</li>
          <li class="hover:text-pink">» Next</li>
          <li class="hover:text-orange">» Astro</li>
          <li class="hover:text-pink">» Tailwind</li>
        </ul>
        <ul>
          <li class="hover:text-pink">» Golang</li>
          <li class="hover:text-orange">» Nodejs</li>
          <li class="hover:text-orange">» Python</li>
          <li class="hover:text-pink">» Solidity</li>
        </ul>
      </div>
    </div>
  </div>
</div>
