---
import { FaLinkedinIn } from "react-icons/fa";
import { FaGithub } from "react-icons/fa";
import { FaTelegramPlane } from "react-icons/fa";
import { FaXTwitter } from "react-icons/fa6";
---

<div id="contact" class="pt-40 p-8 bg-dark text-light">
  <h2 class="text-5xl font-bold text-center pb-16">Get in Touch</h2>

  <div class="flex flex-col justify-center items-center">
    <p class="text-center pb-16 md:max-w-xl">
      I am always up for exciting discussion and new opportunities. Whether you
      have a question or just want to say hi, I’ll try my best to get back to
      you!
    </p>
    <a href="mailto:heyytejas@gmail.com" class="pb-16">
      <button
        class="px-12 py-6 border-2 border-light border-dashed hover:bg-light hover:text-dark"
        >Say hello!</button
      >
    </a>
  </div>

  <div class="bg-dark flex justify-center items-center">
    <div class="max-w-xl flex gap-x-5">
      <a
        href="https://linkedin.com/in/tejxsmore"
        target="_blank"
        class="bg-light text-dark p-3 text-xl rounded-full"><FaLinkedinIn /></a
      >
      <a
        href="https://github.com/tejxsmore"
        target="_blank"
        class="bg-light text-dark p-3 text-xl rounded-full"><FaGithub /></a
      ><a
        href="https://twitter.com/tejxsmore"
        target="_blank"
        class="bg-light text-dark p-3 text-xl rounded-full"><FaXTwitter /></a
      >
      <a
        href="https://t.me/tejxsmore"
        target="_blank"
        class="bg-light text-dark p-3 text-xl rounded-full"
        ><FaTelegramPlane />
      </a>
    </div>
  </div>
  <div class="pt-40 text-center">
    <p>
      Designed and built by <span
        class="hover:underline bg-gradient-to-br from-orange to-pink text-transparent whitespace-nowrap bg-clip-text"
        ><a href="https://github.com/tejxsmore/portfolio">Tejas More</a></span
      >
    </p>
  </div>
</div>
