---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    id="content"
    class="flex bg-gradient-to-r from-purple-400 to-sky-200 justify-center items-center"
  >
    <div class="h-screen max-w-6xl p-16 pt-32">
      <p class="m-6">Hi, my name is</p>
      <h1 class="m-6 font-extrabold text-7xl">Tejas More</h1>
      <h2 class="m-6 font-extrabold text-7xl text-gray-600">
        I build things for web
      </h2>
      <p class="m-6 max-w-xl mb-16">
        I am software engineer specialising in building things. Currently I am
        focused on building accessible products.
      </p>
      <a
        href="https://linkedin.com/in/tejxsmore"
        target="_blank"
        class="m-6 py-5 px-7 border-black border-2 rounded-md hover:bg-yellow-300"
      >
        LinkedIn</a
      >
    </div>
  </div>
</Layout>
