---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="experience" class="flex bg-green-600 justify-center items-center">
    <div class="h-screen max-w-6xl p-16"></div>
  </div>
</Layout>
