---
---

<div
  id="profile"
  class="bg-dark text-light flex lg:flex-row flex-col-reverse md:p-32 md:pb-60 pb-12 p-8 justify-evenly items-center"
>
  <div class="">
    <p class="py-8">Hola, I am</p>
    <h4
      class="pb-10 text-6xl sm:text-7xl md:text-8xl font-bold text-transparent bg-gradient-to-r from-orange to-pink whitespace-nowrap bg-clip-text"
    >
      Tejas More
    </h4>
    <!-- <div class="pb-10 md:pb-0 max-w-xl md:text-justify"></div> -->
    <div
      class="pb-16 md:pb-0 font-bold text-2xl sm:text-3xl md:text-5xl flex-col bg-gradient-to-r from-slate-200 to-gray-400 text-transparent bg-clip-text w-full md:max-w-xl sm:max-w-lg"
    >
      <p>I love to build things from scratch.</p>
    </div>
  </div>

  <div id="blob" class="border-2 border-light border-dashed"></div>
</div>

<style>
  #blob {
    background-image: url(https://avatars.githubusercontent.com/u/87657235?v=4);
    width: 300px;
    height: 300px;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    margin: 20px;
    box-shadow: 0 5px 25px 0 rgba(250, 120, 64, 0.911);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }

  @keyframes animate {
    0%,
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
</style>
