---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    id="projects"
    class="flex bg-gradient-to-r from-purple-400 to-sky-200 justify-center items-center"
  >
    <div class="h-screen max-w-6xl m-40 mt-80">
      <div>
        <h1 class="text-5xl font-extrabold p-6">02. My Projects</h1>
      </div>
      <div class="flex">
        <a href="https://superanime.vercel.app" class="m-3">
          <img
            src="/images/tejasmore.jpg"
            alt="superanime"
            class="w-80 rounded-xl"
          />
        </a>
        <a href="https://rapidnews.vercel.app" class="m-3">
          <img
            src="/images/tejasmore.jpg"
            alt="rapidnews"
            class="w-80 rounded-xl"
          />
        </a><a href="https://flipcurrency.vercel.app" class="m-3">
          <img
            src="/images/tejasmore.jpg"
            alt="flipcurrency"
            class="w-80 rounded-xl"
          />
        </a>
      </div>
      <div class="flex">
        <a href="https://maxcrypto.vercel.app" class="m-3">
          <img
            src="/images/tejasmore.jpg"
            alt="maxcrypto"
            class="w-80 rounded-xl"
          />
        </a>
        <a href="https://virtualcom.vercel.app" class="m-3">
          <img
            src="/images/tejasmore.jpg"
            alt="vitualcom"
            class="w-80 rounded-xl"
          />
        </a>
        <a href="https://readblogs.vercel.app" class="m-3">
          <img
            src="/images/tejasmore.jpg"
            alt="readblogs"
            class="w-80 rounded-xl"
          />
        </a>
      </div>
    </div>
  </div>
</Layout>
