@import 'tailwindcss';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	color: #fffdf6;
	box-sizing: border-box;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	position: relative;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -1;
	min-height: 100%;
	width: 100%;
	background:
		radial-gradient(ellipse at top center, #5409da 0%, #3a1078 100%),
		url("data:image/svg+xml;utf8,<svg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'/></svg>");
	background-blend-mode: normal, soft-light;
	background-size: cover, 150px;
	background-attachment: scroll; /* Ensure it scrolls smoothly */
	pointer-events: none;
}
